body{
  margin:0;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.title{
  color: #ECF0F1;
  text-align: center;
}

.editorDiv, .previewDiv{
  margin: 0% 0% 0% 2%;
}

.editorText, .previewText{
  width: 94%;
  height:88vh;
  padding: 2%;
  background: #D0D3D4;
}

.previewText{
  overflow: scroll;
}

.editorP, .previewP{
  color: #ECF0F1;
  display: flex;
  justify-content: space-between;
  font-size: 120%;
  padding:5% 6% 0% 2%;
  /*cursor: pointer;*/
}

.editorP i, .previewP i{
  cursor: pointer;
}

.hidden{
  display: none;
}

.credit{
  text-align: center;
  font-style: italic;
  color: #ECF0F1;
}

.credit a{
  text-decoration: none;
  color: #F0B27A;
}

@media screen and (min-width: 765px) {
  .editorDiv, .previewDiv{
    margin: 0% 2% 0% 2%;
    width: 45%;
    display:inline-block;
  }

  .editorText, .previewText{
    width: 99%;
    height:88vh;
    padding: 2%;
    background: #D0D3D4;
    transition: width 300ms;
  }

  .hide{
    display: none;
  }

  .expandToRight{
    width: 92%;
    transition-duration: 2s;
  }

  .backToNormal{
    width: 45%;
   transition-duration: 2s;  
  }

}
